.header{
    background: var(--main-color);
    height: var(--header-height);
}
.style_full{
    width: 100%;
    background-color: var(--white-rgba);
    border: 1px solid white;
}
/* NAVBAR */
.nav_bar{
    height: var(--header-navbar);
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
}
.nav_bar-item-left, .nav_bar-item-right{
    list-style: none;
    display: flex;
}
li{
    padding: 10px;
}
i{
    padding: 0 5px;
}
.navbar-separate1::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #ffffff;
    height: 40px;
    right: auto;
    top: 2.5%;
    transform: translateY(-50%);
}
.navbar-separate2::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #000000;
    height: 18px;
    right: auto;
    top: 2.5%;
    transform: translateY(-50%);
}




/* HEADER BODY */
.header_body{
    height: var(--header-with-search);
    display: flex;
    justify-content: space-between;
}

/* LOGO */
.image_logo{
    width: 240px;
}
.logo{
    width: 80px;
    float: right;
    filter: drop-shadow(10px 10px 7px #FFFFFF);
    margin-top: 15px;
} 

/* SEARCH */
 .search{
    margin-top: 30px;
    width: 560px;
    height: 36px;
    background-color: var(--white-rgba);
    border-radius: 10px;
}
.icon_search{
    font-size: 1.5rem;
    padding: 10px 15px;
}
.input_search{
    font-size: 1.5rem;
    float: right;
    height: 100%;
    width: 90%;
    border: none;
    border-radius: 0px 10px 10px 0px;
} 

.h3{
    padding-left: 50%;
    margin-left: 50%;
    text-align: center;
    display: flex;
}


.bask{
    background-color: #D4D1D1;
}
.header_heard_cart{
    display: flex;
} 
.icon_header_body{
    font-size: 3rem;
    margin: 35px 15px;
}